.article-img {
  max-width: 100%;
}

.article-tags {
  .tag {
    background-color: #f4f4f5;
    border-color: #e9e9eb;
    color: #909399;
  }
  .tag:hover {
    cursor: pointer;
    background-color: #eaeaea;
    color: #909399;
  }
}
