.home-container {
  gap: 3rem;

  .display-articles {
    flex: 0 1 66%;

    .tabs {
      button {
        border: none;
        outline: none;
        padding: 0.5rem 1rem;
        background: white;
        font-weight: 400;
        border-bottom: 2px solid white;
        transition: font-weight 0.1s ease-in-out, color 0.1s ease-in-out,
          border-bottom-color 0.1s ease-in-out;
      }
      button.active {
        font-weight: 500;
        color: var(--blue);
        border-bottom-color: var(--blue);
      }
    }
  }
  .top-authors {
    align-self: flex-start;
    position: sticky;
    top: 3rem;
    flex: 1 1 34%;

    .user-info {
      gap: 1rem;

      .info {
        gap: 0.4rem;
        line-height: 1rem;

        .name {
          font-size: 0.9rem;
          font-weight: 500;
        }
        .bio {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
