.article-preview {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;

  .col-8 {
    flex: 0 1 auto;
  }

  .article-img {
    align-self: stretch;
    padding-top: 2.5rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .comment-count {
    margin-left: 0.8rem;
  }
  .info-icon {
    color: var(--gray);
  }
  .info-text {
    margin-left: 0.2rem;
    color: var(--gray);
  }
}

.article-tags {
  .tag {
    background-color: #f4f4f5;
    border-color: #e9e9eb;
    color: #909399;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  }
  .tag:hover {
    cursor: pointer;
    background-color: #eaeaea;
    color: #909399;
  }
}
